*{
  box-sizing: border-box;
}
body{
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}
.v_center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.topHeader{
  background-color: #D5D1FF ;
  height: 60px;
}
.slogan{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  padding: 0 40px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}